{
  "botId": "Uxxxxxxxxx",
  "baseUrl": "https://chat.line.biz",
  "timezoneOffset": 420,
  "cookies": {
    "__Host-chat-ses": "",
    "XSRF-TOKEN": "",
    "chat-device-group": "519",
    "ses": ""
  }
}
